.big-checkbox {
	width: 20px;
	height: 20px;
}

example-modal .modal {
	position: relative;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	display: block;
	z-index: 1;
}

.example-modal .modal {
	background: transparent !important;
}

body {
	margin: 0;
	background-color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	width: 270px
}

object {
	width: auto;
	max-width: 100%;
	max-height: 70vh;
	width: auto\9; /* ie8 */
}

#image_notication .modal-body {
	text-align: center;
	height: auto;
}

@media ( min-width : 768px) {
	#image_notication .modal-dialog {
		width: auto;
		max-width: 90%;
	}
}